img {
  width: 250px; height: 150px;
  background-color:white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
img:hover {
  top: -20px;
  z-index:50;
  transform: scale(1.5);
  transition: down ease 0.8s;
}

